@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

div.NextPageButton {
    margin: 0;
    margin-top: 1em;
}

div.NextPageButton button {
    padding: 0 2em;

    cursor: pointer;

    background-color: #ffffff;
    color: #5271ff;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 2em;

    border-radius: 1em;
    border: 0.1em solid #5271ff;
}

div.NextPageButton button:hover {
    background-color: #5271ff;
    color: #ffffff;
}

div.NextPageButton.small {
    position: fixed;
    bottom: 2em;

    width: 100%;
    height: 3.5em;
    
    animation: slide-up .5s 1 ease;
}

div.steps {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 3.5em;

    padding: 0 1.5em;
}

div.steps button.dot {
    width: 1em;
    height: 1em;

    padding: 0;

    background-color: #ffffff;

    border-radius: 3em;
    border: 0.01em solid #707070;
}

div.steps button.dot.active {
    background-color: #5071fb;
}

div.steps button.skip {
    position: absolute;
    right: 2em;
    bottom: 0;

    padding: 0;

    background-color: none;
    color: #5271ff;
    font-size: 0.8em;
    font-weight: 500;

    border: none;
    border-radius: 0;
}

@media screen and (max-width: 450px) {
    div.NextPageButton button {
        font-size: 1.5em;
    }
}
