@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

div.MyInformations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(100% - 6.3125em);

    margin-top: 6.3125em;

    background-color: #ffffff;
}

div.MyInformations div.title {
    z-index: 100;
    position: relative;
    top: 0;
    width: 100%;
}

div.MyInformations div.title h3 {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;

    margin: 0;
    padding: 0;

    font-size: 1em;
    text-align: center;

    transition: opacity 1s .5s ease;
}

div.MyInformations div.title h3#step-1 { animation: slide-down .5s 1 ease; }

div.MyInformations div.title.step-1 h3:not(#step-1) { opacity: 0; transition: opacity .5s ease; }
div.MyInformations div.title.step-2 h3:not(#step-2) { opacity: 0; transition: opacity .5s ease; }
div.MyInformations div.title.step-3 h3:not(#step-3) { opacity: 0; transition: opacity .5s ease; }

div.MyInformations div.title h3:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1em;
    top: 50%;
    left: 0%;

    margin: 0 auto;
    
    content: "";

    background-color: #ffffff;

    border-top: 0.066em solid #d9d9d9;
    box-shadow: 0 0 1em #fff, 0 0 0.9em #fff, 0 0 0.8em #fff, 0 0 0.7em #fff, 0 0 0.6em #fff, 0 0 0.5em #fff, 0 0 0.4em #fff, 0 0 0.3em #fff, 0 0 0.2em #fff, 0 0 0.1em #fff;
}

div.MyInformations div.title h3 span {
    padding: 0 0.5em;

    background-color: #ffffff;
    color: #5271ff;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
}

div.MyInformations form.stepper-container {
    position: relative;
    width: 100%;
    height: 100%;

    margin-top: 1.1em;

    overflow: hidden;

    animation: appearance 1s 1 ease;
}

div.MyInformations div.steps-container {
    position: absolute;
    left: 0;
    width: 300%;
    height: 100%;

    transition: left 1s ease;
}

div.MyInformations div.steps-container.step-1 {left: 0;}
div.MyInformations div.steps-container.step-2 {left: -100%;}
div.MyInformations div.steps-container.step-3 {left: -200%;}

div.MyInformations div.steps-container div.step-1,
div.MyInformations div.steps-container div.step-2,
div.MyInformations div.steps-container div.step-3 {
    position: absolute;
    width: 33.33%;
    height: 100%;

    padding-top: 2em;

    overflow-y: auto;

    text-align: center;
}

div.MyInformations div.steps-container div.step-1 {left: 0;}
div.MyInformations div.steps-container div.step-2 {left: 33.33%;}
div.MyInformations div.steps-container div.step-3 {left: 66.66%;}

div.MyInformations div.steps-container div.form-group {
    margin: 0 1.5em;
    margin-top: 1.5em;
}

div.MyInformations div.steps-container div.form-group:first-child {
    margin-top: 0;
}

div.MyInformations div.steps-container div.form-group:last-child {
    margin-bottom: 9em;
}

div.MyInformations div.form-group label {
    display: block;

    margin: 0;

    color: #000000;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 1.125em;
    text-align: left;
}

div.MyInformations div.form-group input,
div.MyInformations div.form-group textarea {
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    margin-top: 0.8em;

    background-color: #ffffff;
    color: #444444;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: left;

    border: 0.15em solid #5271ff;
    outline: none;

    transition: border-color .5s ease, background-color .5s ease;
}

div.MyInformations div.form-group input.error,
div.MyInformations div.form-group textarea.error {
    background-color: #ff7177;

    border-color: #cc3030;

    animation: shake .5s 1 ease;
}

div.MyInformations div.form-group input:hover:not(.error),
div.MyInformations div.form-group input:focus:not(.error),
div.MyInformations div.form-group textarea:hover:not(.error),
div.MyInformations div.form-group textarea:focus:not(.error) {
    border-color: #b3bbff;
}

div.MyInformations div.form-group input.error:focus,
div.MyInformations div.form-group input.error:hover,
div.MyInformations div.form-group textarea.error:hover,
div.MyInformations div.form-group textarea.error:focus {
    background-color: #ffffff;

    border-color: #ff7177;
}

div.MyInformations div.form-group input {
    padding: 0.3em 0.6em;

    border-radius: 1.25em;
}

div.MyInformations div.form-group textarea {
    height: 4em;

    padding: 0.3em 0.8em;

    border-radius: 2em;

    resize: none;
}

div.MyInformations div.form-group div.error {
    margin-top: 0.25em;

    color: #cc3030;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: left;
}

@media screen and (max-width: 450px) {
    div.MyInformations {
        min-height: calc(100% - 4.6875em);

        margin-top: 4.6875em;
    }
    
    div.MyInformations div.title h3 {
        transition: opacity .8s .5s ease;
    }

    div.MyInformations div.title h3 span {
        font-size: 1.25em;
    }

    div.MyInformations div.title h3:before {
        border-top-width: 0.08em;
    }

    div.MyInformations form.stepper-container {
        margin-top: 1em;
    }

    div.MyInformations div.steps-container {
        transition: left .8s ease;
    }
}