@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

div.MyInformations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;

    margin-top: 5.25em;
    margin-bottom: 6.5em;

    background-color: #ffffff;
}

div.MyInformations div.title {
    position: fixed;
    top: 8em;
    width: 100%;
}

div.title h3 {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;

    margin: 0;
    padding: 0;

    color: #5271ff;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-align: center;

    transition: opacity 1s .5s ease;
}

div.title h3#step-1 { animation: slide-down .5s 1 ease; }

div.title.step-1 h3:not(#step-1) { opacity: 0; transition: opacity .5s ease; }
div.title.step-2 h3:not(#step-2) { opacity: 0; transition: opacity .5s ease; }
div.title.step-3 h3:not(#step-3) { opacity: 0; transition: opacity .5s ease; }

div.title h3:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;

    margin: 0 auto;
    
    content: "";

    border-top: 0.05em solid #d9d9d9;
}

div.title h3 span {
    padding: 0 0.5em;

    background-color: #ffffff;
}

div.MyInformations form.stepper-container {
    position: relative;
    width: 100%;
    height: 100%;

    margin-top: 12em;
    margin-bottom: 8em;

    overflow: hidden;

    animation: appearance 1s 1 ease;
}

div.MyInformations div.steps-container {
    position: absolute;
    left: 0;
    width: 300%;
    height: 100%;

    transition: left 1s ease;
}

div.MyInformations div.steps-container.step-1 {left: 0;}
div.MyInformations div.steps-container.step-2 {left: -100%;}
div.MyInformations div.steps-container.step-3 {left: -200%;}

div.steps-container div.step-1,
div.steps-container div.step-2,
div.steps-container div.step-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    height: 100%;

    text-align: center;
}

div.steps-container div.step-1 {left: 0; }
div.steps-container div.step-2 {left: 33.33%;}
div.steps-container div.step-3 {left: 66.66%;}

div.steps-container div.form-group {
    width: 100%;
}

div.form-group label {
    display: block;

    margin: 0 2em;
}

div.form-group label p {
    margin: 0;

    color: #000000;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 1.125em;
    text-align: left;
}

div.form-group label input {
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    margin-top: 0.8em;
    padding: 0.5em 1em;

    background-color: #ffffff;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: left;

    border: 0.15em solid #5271ff;
    border-radius: 1.5em;
}

@media screen and (max-width: 450px) {
    div.MyInformations {
        margin-top: 4em;
    }

    div.MyInformations div.title {
        top: 6.56em;
    }

    div.title h3 {
        font-size: 1.25em;

        transition: opacity .8s .5s ease;
    }

    div.title h3:before {
        border-top-width: 0.08em;
    }

    div.MyInformations form.stepper-container {
        margin-top: 10.56em;
        margin-bottom: 5.25em;
    }

    div.MyInformations div.steps-container {
        transition: left .8s ease;
    }
}