@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

div.EmergencyButton {
    position: absolute;
    top: 6.3125em;
    display: flex;
    justify-content: center;

    animation: zoom .5s 1 ease;
}

div.EmergencyButton a {
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    margin: 0;
    padding: 0.5em;
    
    background-color: #ffffff;
    color: #ff7177;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.6em;
    text-align: center;

    border-radius: 3em;
    border: 0.2em solid #ff7177;

    transition: color .5s ease, border-color .5s ease;
}

div.EmergencyButton a::before {
    z-index: -1;
    position: absolute;
    top: 2.6em;
    left: -0.5em;
    width: 110%;
    height: 100%;

    content: '';

    background-color: #ff7177;

    border-radius: 50%;

    transition: all .5s ease;
}

div.EmergencyButton a:hover {
    color: #cc3030;
    border-color: #cc3030;
}

div.EmergencyButton a:hover::before {
    top: 0;

    border-radius: 0;
}

@media screen and (max-width: 450px) {
    div.EmergencyButton {
        top: 4.6875em;
    }
}