div.SlideShow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.SlideShow h3 {
    margin: 0;
    margin-top: 1em;

    color: #5271ff;
    font-family: "Varela Round", sans-serif;
    font-size: 2em;
    text-align: center;
}

div.SlideShow img {
    height: 20em;

    margin-bottom: 5em;
}

div.SlideShow h4 {
    margin: 0;

    padding: 0 1em;

    color: #5271ff;
    font-family: "Valera Round", sans-serif;
    font-size: 2em;
    text-align: center;
}

@media screen and (max-width: 400px) {
    div.SlideShow h3 {
        font-size: 1em;
    }

    div.SlideShow img {
        height: 12em;

        margin-bottom: 4em;
    }

    div.SlideShow h4 {
        font-size: 1.4em;
    }
}
