div.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    background-color: #ffffff;
}

div.Intro footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
}

div.Intro footer div {
    padding: 0 1em;

    color: #536DFE;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
}

@media screen and (max-width: 450px) {
    div.Intro footer {
        margin-bottom: 1.5em;
    }

    div.Intro footer div{
        font-size: 0.8em;
    }
}
