@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

button.SwitchLanguageButton {
    z-index: 100;
    position: fixed;
    right: 2em;
    top: 1.5em;

    margin: 0;
    padding: 0.5em;

    cursor: pointer;

    background-color: #536DFE;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: bold;

    border:none;
    border-radius: 1em;

    animation: slide-down .5s 1 ease;
}

button.SwitchLanguageButton span {
    margin:0.2em;

    color:#9AACFF;
    font-weight: normal;
    font-size: 1em;

    transition: color .5s ease;
}

button.SwitchLanguageButton span.active {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}

button.SwitchLanguageButton:hover span {color: #ffffff;}
button.SwitchLanguageButton:hover span.active {color: #9AACFF;}

@media screen and (max-width: 400px) {
    button.SwitchLanguageButton {
        right: 1em;
        top: 1em;

        padding: 0.8em;

        border-radius: 1.5em;
    }
}