@keyframes appearance {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

div.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    margin-top: 13.6em;
    margin-bottom: 6.1em;

    background-color: #ffffff;

    border-top: 0.066em solid #d9d9d9;

    animation: appearance .5s 1 ease;
}

@media screen and (max-width: 450px) {
    div.Dashboard {
        margin-top: 10.6em;
    }
}